<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Details</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .team-details {
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="team-details">
        <h1>TEAM DETAILS</h1>
        <p>K S H V Sai Hari Krishna 21bce8069</p>
        <p>S Ganga Roshitha 21bce8691</p>
        <p>Ch. Abhiram 21bce8707</p>
        <p>D. Harsha Kundan 21bce7587</p>
        <p>G Reena Rani 21bce8453</p>
        <p>C L V Saradhi 21bce7816</p>
        <p>Varshitha Gundluru 21bce7657</p>
        <p>Saara Anand 21bce8156</p>
        <p>Ram Kripalu Neelmani 21bce7201</p>
        <p>Sanjana Mitra 21bce8418</p>
    </div>
</body>
</html>
